html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

canvas {
  display: block;
}
.button {
  width: 80px;
  height: 50px;
  position: relative;
  font-size: large;
  font-family: "Be Vietnam Pro";
  color: black;
  background-color: rgb(200);
}
.container {
  width: 100%;
  top: calc(100% - 50px);
  position: absolute;
  display: flex;
  justify-content: space-between;
}
